.group.swap-page .background {
  width: 120%;
  height: 120%;
  position: absolute;
  top: -10%;
  background-color: black;
  left: -10%;
  /* background-image: url('https://i.scdn.co/image/9110f8ebe9b4608ebec2fa0149baf0b8b8f6190f'); */
  background-size: cover;
  background-position: 0 center;
  z-index: -10;
  -webkit-filter: brightness(0.36) blur(8px) grayscale(0.6);;
}

header {
  /* background-color: #4aa8e2; */
  color: rgb(235, 246, 255);
  padding: 11px;
  text-align: center;
}

header h2 {
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
}

.search-wrapper {
  margin-top: 11px;
  text-align: center;
}

.search-wrapper label {
  width: 32px;
  height: 36px;
  background-image: url('../images/icons/search/noun_62219_cc_white.svg');
  background-size: 22px 22px;
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
}

#search {
  display: inline-block;
  width: 86%;
  padding: 11px 11px 11px 32px;
  box-sizing: border-box;
  outline: none;
  border: solid 1px white;
  border-radius: 2px;
  /* border-bottom: solid 2px rgba(255, 255, 255, 0.33); */
  font-size: 11px;
  font-weight: 200;
  background: none;
  color: white;
  
  opacity: 0.85;
  transition: opacity 0.4s;
}

#search:focus {
  opacity: 0.94;
}

.loading-icon {
  width: 100%;
  height: 16px;
  background-image: url('../images/icons/loading/ajax-loader.gif');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-top: 40px;
}

.window-select {
  height: 40px;
  /* background-color: #388dca; */
  position: relative;
  box-shadow: inset 0 4px 4px rgba(95, 95, 95, 0.01);
  text-align: center;
}

.window-select .time-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.window-select .time-indicator .bar {
  width: 0;
  /* height: 100%; */
  background-color: #51be51;
  box-shadow: inset 0px -2px rgba(42, 42, 42, 0.08);
  
  transition: width 0.2s;
}

.window-select .buttons {
  display: inline-block;
}

.window-select .button {
  background-repeat: no-repeat;
  top: 0;
  height: 40px;
  width: 70px;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  cursor: pointer;
  
  /* to position the buttons above the timer bar behind it */
  position: relative;
  transition: opacity 0.4s;
}

.window-select .button:not(.active) {
  opacity: 0.4;
}

.window-select .button span {
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 11px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 400;
}

.window-select .button:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.window-select .listen.button:before {
  background-image: url('../images/icons/headphones/noun_3779_cc.svg');
  background-size: 18px 18px;
}

.window-select .add.button:before {
  background-image: url('../images/icons/add/noun_18981_cc.svg');
  background-size: 18px 18px;
}

.window-select .vote.button:before {
  background-image: url('../images/icons/check/noun_20624.svg');
  background-size: 13px 13px;
  background-position: center 13px;
  margin-right: 2px;
}

.window-select .pointer {
  position: absolute;
  left: 50%;
  content: '';
  bottom: 0;
  height: 0;
  width: 0;
  border-radius: 0;
  border-color: #eef1f2 transparent;
  border-style: solid;
  border-width: 0 5px 5px;

  display: none;
  transition: left 0.7s;
}

section {
  position: absolute;
  width: 100%;
}