.group.swap-page > .background {
  width: 200%;
  height: 200%;
  position: fixed;
  top: -50%;
  background-color: black;
  left: -20%;
  background-size: cover;
  background-position: 0 center;
  z-index: -10;
  
  @include filter(brightness(0.36) blur(8px) grayscale(0.4));
  @include transition( (background 0.8s, opacity 1.8s) );
}

.search-wrapper {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 11px;
  text-align: center;
  padding: 4px;
  
  label {
    width: 32px;
    height: 28px;
    background-image: url('../images/icons/search/noun_62219_cc_black.svg');
    background-size: 24px 24px;
    background-position: 7px 4px;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 4; // make sure it's on top of search
  }
  
  #search {
    color: black;
    display: inline-block;
    width: 100%;
    padding: 4px 11px 4px 35px;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: white;

    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    font-size: 16px;

    opacity: 0.84;

    @include border-radius(2px);
    @include transition(opacity 0.4s);

    &:focus {
      opacity: 1;
    }
  }
}

#header.active #search:not(:focus) {
  opacity: 0.1;
}

.loading-icon {
  width: 100%;
  height: 16px;
  background-image: url('../images/icons/loading/white-on-black-ajax-loader.gif');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin-top: 40px;
}

$window-select-height: 24px;
.window-select {
  height: $window-select-height;
  position: relative;
  text-align: center;
  padding-bottom: 11px;
  
  .buttons {
    display: inline-block;
    
    .button {
      background-repeat: no-repeat;
      top: 0;
      height: $window-select-height;
      padding: 0 8px;
      cursor: pointer;

      /* to position the buttons above the timer bar behind it */
      position: relative;

      @include display(inline-flex);
      @include flex-wrap(nowrap);
      @include justify-content(center);
      @include transition(opacity 0.4s);
      
      span {
        // color: white;
        font-family: 'proxima-nova', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: $window-select-height;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      
      &:before {
        content: '';
        display: inline-block;
        width: 18px;
        height: $window-select-height;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      &:not(.active) {
        opacity: 0.7;
      }
    }
  }
}

.window-select .listen.button:before {
  background-image: url('../images/icons/headphones/noun_3779_cc.svg');
  background-size: 18px 18px;
}

.window-select .add.button:before {
  background-image: url('../images/icons/add/noun_18981_cc.svg');
  background-size: 18px 18px;
}

.window-select .vote.button:before {
  background-image: url('../images/icons/check/noun_20624.svg');
  background-size: 13px 13px;
  background-position: 1px 4px;
  margin-right: 2px;
}