.spotify-object {
  margin-top: 11px;
  width: 100%;
}

.spotify-object:not(.active) {
  display: none;
}

.spotify-object > .inner {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  
  @include border-radius(4px);
  @include box-shadow(0 0 11px rgba(0, 0, 0, 0.28));
}

.spotify-object .inner .icon {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.spotify-object .copy {
  display: block;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  text-align: center;
  padding: 18px;
  padding-bottom: 0;
}

.spotify-object .copy .header h2 {
  color: black;
  font-weight: 300;
  font-size: 28px;
  padding-bottom: 6px;
}

.spotify-object .copy .body {
  padding-top: 4px;
}

.spotify-object .copy .body .description {
  font-weight: 200;
  color: #3d3d3d;
  font-size: 14px;
}

.spotify-object .copy .body .description a {
  color: inherit;
  font-weight: 400;
}

.spotify-object .add-track-button {
  display: inline-block;
  background: rgba(110, 110, 110, 0.09);
  color: rgb(68, 68, 68);
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;
  font-weight: 200;
  text-transform: uppercase;
  border-top: solid 1px rgba(165, 165, 165, 0.33);
  display: inline-block;
  width: 64px;
  height: 64px;
  line-height: 62px;
  margin: 18px 0;
  cursor: pointer;
  
  @include border-radius(64px);
}

.spotify-object .add-track-button span:before {
  background-color: rgba(0, 0, 0, 0.11);
}

.spotify-object .add-track-button.loading span:before {
  content: '';
  width: 10px;
  height: 10px;
  background-image: url('../images/icons/loading/dark-grey-on-light-grey-ajax-loader.gif');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 6px;
  background-position: center;
  background-color: transparent;
}