#voting-tracks {
  padding: 0 24px;
  margin-top: 24px;
}

#voting-tracks .voting-list {
  position: relative;
}

.winners-circle {
  text-align: center;
  margin-bottom: 24px;
  padding: 0 48px;
  
  .icon {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin: 20px 0 14px 0;
    border-radius: 2px;
  }
  
  .info {
    color: rgba(255, 255, 255, 0.88);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    
    .track {
      font-weight: 200;
      letter-spacing: 1px;
      font-size: 32px;
      margin-bottom: 8px;
    }
    
    .description {
      font-family: 'Helvetica', 'Helvetica Neue', sans-serif;
      font-size: 16px;
      font-weight: 400;
      
      .artist {
        color: rgba(255, 255, 255, 0.88);
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 200;
        letter-spacing: 1px;
      }
    }
    
    .votes {
      margin: 8px 0 0 0;
      font-weight: 200;
      
      .num-votes {
        font-weight: 200;
        font-size: 24px;
      }
    }
  }
}

.time-indicator {
  width: 100%;
  margin: 8px 0;
  text-align: center;
}

.time-indicator .time {
  color: rgba(255, 255, 255, 0.88);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
  font-weight: 200;
  font-size: 18px;
  font-family: 'Helvetica', sans-serif;
}