@import 'mixins';

$logo-font-stack: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-stack: 'Helvetica Neue', sans-serif;

@-ms-viewport {
  width: device-width;
}

body {
  margin: 0;
  padding-bottom: 11px;
  background-color: black;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

h1, h2 {
    font-weight: 200;
}

.clear {
  clear: both;
}

.content {  
  width: 100%;
}

.index.content {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}

.pjax-container {
  overflow-x: hidden;
}

@import 'header';
@import 'search_results';
@import 'animation_classes';
@import 'group';
@import 'spotify_object';
@import 'voting_section';
@import 'voting_object';