<style>
.tracks, .artists {
  padding: 0 56px;
}
.tracks > h1, .artists > h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Helvetica';
  font-size: 14px;
  margin: 28px 0;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.92);
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
}
</style>
<div class="search-results">
  <!--
  <div class="artists">
    <h1>Artists</h1>
    {{> spotify-object-list search_results.artists.items}}
  </div>
  -->
  
  
  <div class="tracks">
    <h1><span class="num-tracks"></span> results</h1>
    {{> spotify-object-list search_results.tracks.items}}
  </div>
</div>