<div class="search-results">
  <!--
  <div class="artists">
    <h1>Artists</h1>
    {{> spotify-object-list search_results.artists.items}}
  </div>
  -->
  
  
  <div class="tracks">
    <h1><span class="track-num"></span> / <span class="num-tracks"></span> results</h1>
    <div class="track-indicators"></div>
    {{> spotify-object-list search_results.tracks.items}}
  </div>
</div>