<html>
<head>
  <title>AUX</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!--<meta id="status-bar" name="apple-mobile-web-app-status-bar-style" content="black-translucent">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href="/public/css/main.css" rel="stylesheet" type="text/css">
  
  <script src="//use.typekit.net/jiy3ujb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src='https://cdn.firebase.com/js/client/2.0.6/firebase.js'></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
  <script src="/public/js/hammer/hammer.min.js"></script>
  <script src="/public/js/pjax/jquery.pjax.js"></script>
  <script src="/public/js/resize/jquery.resize.js"></script>
  <script src="/public/js/swapper.js"></script>
  <script src="/public/js/util.js"></script>
</head>
<body>
  <header id="header">
    <div class="title-bar">
      <div id="back-button"></div>
      <h2>{{ name }}</h2>
    </div>
  </header>
  
  <div class="pjax-container">
    {{{ body }}}
  </div>
  <script type="text/javascript">
  (function() {
      if(!window.aux) {
          window.aux = {
              /**
               * Set the text displayed in the header
               *
               * @param {string} text
               */
              setHeader: function(text) {
                  $('#header .title-bar h2').text(text);
              },

              // array of functions to be called before replacing the
              // content of .pjax-container
              beforeReplace: []

          };
      }
      
      var $header = $('#header');
      var $statusBarTag = $('#status-bar');
      window.addEventListener('scroll', function(e) {
          if(window.pageYOffset > 0) {
              $header.addClass('active');
              $statusBarTag.remove();
          } else {
              $header.removeClass('active');
              $statusBarTag.appendTo($('head'));
          }
      });
      
      $(document).pjax('a', '.pjax-container');
      $(document).on('pjax:beforeReplace', function() {
          var fns = window.aux.beforeReplace;
          while(fns.length > 0) {
              (fns.pop())();
          }

          // end by sliding the pjax container out

      });
      
      // set up back button
      var $backButton = $('#back-button');
      $backButton.click(function(e) {
          e.preventDefault();
          window.history.back();
      });
      
      // show the back button on every page except the index
      $(document).on('pjax:complete', function() {
          if($('.index.content').length > 0) {
              $backButton.hide();
          } else {
              $backButton.show();
          }
      });
      
      var $pjaxContainer = $('.pjax-container');
      $header.resize(function() {
          $pjaxContainer.css({
              marginTop: $header.outerHeight() + 'px'
          });
      });
      
      var resize = function() {
        $pjaxContainer.css('width', window.innerWidth + 'px');
      }
      resize();
      $(window).resize(resize);
  }());
  </script>
</body>
</html>