<div class="find swap-page content">
  <header>
    <h2>Find groups</h2>
  </header>

  <div id="groups">

  </div>
  <script>
      $(document).ready(function() {
          if(navigator.geolocation) {
              var findingDiv = $('<div></div>')
                  .text('finding groups near your location')
                  .appendTo('.find.content');
              
              var sendLocationQuery = function(geo) {
                  $.ajax({
                      type: 'GET',
                      url: '/find_nearby_groups',
                      data: {
                          longitude: geo.coords.longitude,
                          latitude: geo.coords.latitude,
                          html: true,  // render group html server side
                      },
                  }).done(function(html) {
                      findingDiv.remove();
                      $('#groups').html(html);
                  });
              };
              navigator.geolocation.getCurrentPosition(sendLocationQuery);
          } else {
              
          }
      });
  </script>
</div>